/** Grid system - https://www.w3schools.com/css/css_rwd_grid.asp **/
* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #01000a;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-size: 36pt;
}

h2 {
    font-size: 24pt;
}

img {
    height: 100%;
}

/* Responsive classes */
[class*="col-"] {
    width: 100%;
}
 
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* ------------------ */

.col-bg {
    padding: 0;
}

.col-content {
    margin: 5% 0%;
    background-color: #fafafa;
}

.col-img {
    height: 150px;
}

.divbody {
    background-color: #fafafa;
    margin: 0% 5%;

}

.fav-img {
    width: 350px;
}

.heading {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 20px;
    background-color: #fafafa;
}

.overflow {
    overflow-x:auto;
}

/* Backgrounds */
.gw2-bg {
    background-color: #AA0404;
}

.overlight-bg {
    background-color: #5DBA46;
}

.horizon-bg {
    background-color: #2F8DDD;
}

.stormlight-bg {
    background-color: #07102D;
}

.tsfh-bg {
    background-color: #DEC076;
}

#home-table {
    width: 70%;
}

#home-table-cell {
    width: 40%;
}

#title-image {
    width: 175px;
    float: right;
}


